<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel = "stylesheet" href  = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
  </head>

  <body >
    <nav class= "navbar navbar-dark ">
      <div class="container">
      <div class = "navbar-header ">
        <a href ="<%= root_path%>"><h1 >Articles </h1></a>
      

    </div>
   </div>
 </ul>
  </nav>
    
    <div class ="container">

      <div class ="row">
       <div class="col-lg-md-offset-2">
    <%= yield %>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
       </div>
      </div>
    </div>
  </body>
</html>
